/* Style of index*/
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu a li{
    display: inline;
    padding: 15px;
    font-size: 18px;
} 
#menu a{
    text-decoration: none;
    color: black;
}
#menu a:hover{
    color: grey;
}
.font{
    font-size: 15px;
    padding: 1%;
    margin: 1%;
    font-weight: bold;
    border: 10px groove rgba(255, 99, 71, 0.527);
}
.backall{
    background-color:blanchedalmond;
}
.backp{
    background-color:tomato;
}
.pic{
    border-radius: 25px;
}
.png{
    width: 50;
    height: 30px;
    border-radius: 25px;
}
.back_footer{
    background-color: grey;
    border-radius: 25px;
    padding: 1%;
    margin: 3%;
    border-style: groove;
}